@import url(common.css);

.container{
	margin:0 auto;
	width: 800px;
}
.a1{
	text-align: left;
	display:flex;
	align-items:center;
	margin:40px auto ;
	float: center;
	width: 480px;
	padding-left: 50px;
}
.a1 img{
	float: left;
	width: 80px;
	height:87px;
}
.a1 .headertext{
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 338px;
	height: 88px;
}
.a1 .head{
	font-size: 58px;
	font-weight: 100;
	margin: 0;
}
.a1 .description{
	font-size: 18px;
	font-weight: bolder;
	white-space:nowrap
}
.a1 .description span{
	color: #e06826
}
.a2{
	width: 500px;
	white-space:nowrap;
	width: 75%;
	margin:10px auto ;
	text-align: center;
}
.a2 .upload_group{
	border: 1px white solid;
	width: 400px;
	height: 30px;
	padding: 5px 10px 0 10px;
	margin: 0 auto;
}
.a2 .upload_group .file{
	float: left;
}
.a2 .upload_group .submit{
	float: right;
}

.a2 .vidio{
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.a2 .vidio img{
}
