@import url(common.css);

.container{
	margin: 100px auto;
	width: 330px;
	height: 250px;
	border: 1px #FFF solid;
	padding:20px;
	padding-bottom: 80px;
}
.container>h1{
	margin: 0 130px;
	padding-bottom: 20px;
	font-size: 30px;
}
.container>form div{
	margin-top: 10px;
}
#submit{
	display: inline-block;
	position: relative;
	left: 200px;
	top:10px;
}
label{
	width: 120px;
	display: inline-block;
}
